{
    "presets": [
        "./tools/es2015Preset"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ],
    "env": {
        "cjs": {
            "plugins": ["add-module-exports"]
        }
    }
}
