{
    "presets": [
        "./tools/es2015Preset",
        "@babel/preset-typescript"
    ],
    "env": {
        "cjs": {
            "plugins": ["add-module-exports"]
        }
    },
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}
